@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  background-repeat: no-repeat;
  background-size: cover;
}


main {
  flex-grow: 1;
}

.hide{
  display: none;
}

.myQuote:hover + .hide{
  display: block;
}

.myQuote{
  cursor: pointer;
}

.clock{
  font-size: 100px;
  color: yellow;
}

.myCardHeader{
  background: black;
  color: white
}

.myCardBody{
  background: rgba(255, 255, 255, 0.747);
  color: black;
  font-weight: bold;
}

.todoList{
  position: fixed;
  bottom: 150px;
  right: 0;
}






